.text{
    font-size: 25px;
    position: sticky;
    top: 0;
    background: white;
    margin-top: -24px;
}
.search{
    width: 100%;
    height: 33px;
}
.titleText{
    margin-left:auto;
    margin-right:auto;
    width:7em;
    padding-top:0;
}
