.card{
    box-shadow: 5px 5px 20px black;
    border-radius: 10px;
    margin: 15px;
    width: 300px;
    overflow: hidden;
    height: 350px
}
.imgLogo{
    width: 300px;
    height: 100%;
    border-radius: 10px;
}
.flexElement{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    margin-top: 8px;
}

.customText{
    margin-top: -64px;
    color: rgba(255, 255, 255, 0.6);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
    width: 301px;
    height: 177px;
    border-radius: 10px;
    transition: 0.5s;
}

.customText:hover{
    position: relative;
    margin-top: -177px;
    color: white;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
    width: 301px;
    height: 177px;
    border-radius: 10px;

}
